flask
flask-cors
python-dotenv
neo4j
langchain
langchain-community
langchain-core
langchain-openai
openai
pillow
pypdf
selenium
webdriver-manager
requests
beautifulsoup4
pymupdf4llm
pdfplumber
langchain-experimental
docx2txt
sentence-transformers

tiktoken
langchain-text-splitters

pydantic>=2.0.0
dlt>=0.4.0
